# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальное окружение
.venv/
venv/
env/

# Django
*.log
#db.sqlite3
media/
staticfiles/
storage/*
!storage/.gitkeep

# Переменные окружения
.env
.claude

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

