py#   Web
Django==6.0.5
asgiref==3.11.1
whitenoise==6.12.0
django-cors-headers==4.9.0

#   Database
psycopg2-binary==2.9.10

#   Config
python-decouple==3.8

#   Images
Pillow==12.2.0

#   HTTP client
httpx==0.28.1

#   Telegram bot
python-telegram-bot==22.7

#   AI (Groq API)
openai==2.38.0

#   Proxy (SOCKS5 for Telegram on blocked servers)
socksio==1.0.0

#   Utils
sqlparse==0.5.5
tzdata==2026.2
