#   Web
Django==6.0.5
asgiref==3.11.1
whitenoise==6.12.0
django-cors-headers==4.9.0

#   Database
psycopg2-binary==2.9.10

#   Config
python-decouple==3.8

#   Images
Pillow==12.2.0

#   HTTP client (используется и сайтом, и ботом для запросов к Groq)
httpx==0.28.1

#   VK bot
vkbottle==4.8.2

#   Utils
sqlparse==0.5.5
tzdata==2026.2
